    <section id="education">
      <h3><span><i class="fa fa-{{ icons.education }}" aria-hidden="true"></i> {{ sections.education }}</span></h3>
      <div class="entries">
        {% for entry in education %}
        <article class="entry" id="education-{{ entry.id }}">
          <header class="entry__aside">
            <p class="period">{{ entry.period }}</p>
          </header>
          <div class="entry__main">
            <p class="school">{{ entry.school }}</p>
            <p class="school-details">
              {{ entry.details | safe }}{% if entry.thesis_title %}<br>
              {% if entry.thesis_file %}Thesis ({{ entry.thesis_grade }}): <a href="{{ basePath }}/{{ entry.thesis_file }}">&raquo;{{ entry.thesis_title }}&laquo;</a>{% else %}Thesis ({{ entry.thesis_grade }}): &raquo;{{ entry.thesis_title }}&laquo;{% endif %}{% endif %}
            </p>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>
