    <section id="experience">
      <h3><span><i class="fa fa-{{ icons.experience }}" aria-hidden="true"></i> {{ sections.experience }}</span></h3>
      <table>
        {% for entry in experience %}
        <tr>
          <td class="company">
            {{ entry.company }}
            <small class="company-details">{{ entry.company_details }}</small>
            <aside class="period">{{ entry.period }}</aside>
          </td>
          <td class="employment">
            {{ entry.title }}
            <aside class="employment-details">
              {{ entry.description | safe }}
            </aside>
          </td>
        </tr>
        {% endfor %}
      </table>
    </section>