    <section id="experience">
      <h3><span><i class="fa fa-{{ icons.experience }}" aria-hidden="true"></i> {{ sections.experience }}</span></h3>
      <div class="entries">
        {% for entry in experience %}
        <article class="entry" id="experience-{{ entry.id }}">
          <header class="entry__aside">
            <p class="company">{{ entry.company }}</p>
            <small class="company-details">{{ entry.company_details }}</small>
            <p class="period">{{ entry.period }}</p>
          </header>
          <div class="entry__main">
            <p class="employment">{{ entry.title }}</p>
            <div class="employment-details">
              {{ entry.description | safe }}
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>
