    <section id="interests">
      <h3><span><i class="fa fa-{{ icons.interests }}" aria-hidden="true"></i> {{ sections.interests }}</span></h3>
      <ul>
        {% for item in interests %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>