    <section id="skills">
      <h3><span><i class="fa fa-{{ icons.skills }}" aria-hidden="true"></i> {{ sections.skills }}</span></h3>
      <dl class="skills">
        {% for skill in skills %}
        <div class="skill">
          <dt>{{ skill.name | safe }}</dt>
          <dd>{{ skill.experience }}</dd>
        </div>
        {% endfor %}
      </dl>
    </section>
