<!doctype html>
<html lang="{{ lang }}" data-theme="{{ theme }}">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body class="variant-full">
{% include "partials/header.njk" %}

    <section id="abstract" class="profile">
      <h3><span><i class="fa fa-{{ icons.profile | default(icons.skills) }}" aria-hidden="true"></i> {{ sections.profile }}</span></h3>
      <p>{{ abstract | safe }}</p>
    </section>

{% include "partials/education.njk" %}

{% include "partials/experience.njk" %}

{% include "partials/skills.njk" %}

{% include "partials/interests.njk" %}

{% include "partials/references.njk" %}

{% include "partials/footer.njk" %}
  </body>
</html>
